@mixin button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  
  transition: ease-in-out 50ms;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  color: var(--editor-foreground);

  border: none;
  
  &:hover {
    background-color: var(--code-background);
    cursor: pointer;
  }
}