@mixin interactable {
  padding: var(--interactable-padding);
  box-sizing: border-box;
  color: var(--editor-foreground);
}

@mixin button {
  @include interactable;
  
  gap: 4px;
  
  transition: ease-in-out 50ms;
  background-color: rgba(0, 0, 0, 0);
  outline: none;

  border: none;

  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  
  text-overflow: ellipsis;
  
  &:hover {
    background-color: var(--code-background);
    cursor: pointer;
  }

  span {
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      cursor: pointer;
    }
  }
}

@mixin selectable {
  -moz-user-select: all;
  -webkit-user-select: all;
  user-select: all;
}