:root {
  --editor-foreground: #EBDBB2;
  --editor-foreground-secondary: #928374;
  --editor-background: #1D2021;

  --code-background: #282828;
  --code-comments: #A89984;
  --code-symbols: #EBDBB2;
  --code-numbers: #468588;
  --code-strings: #98971A;
  --code-identifiers: #B8BB26;
  --code-keywords: #FB4934;
  --code-errors: #CC241D;
  
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;

  color: var(--editor-foreground);
  background-color: var(--code-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

span {
  cursor: default;
}

pre {
  cursor: default;
}

.splitpanes.custom {
  .splitpanes__pane {
    background-color: var(--editor-background);
    overflow-y: auto;
  }

  .splitpanes__splitter {
    background-color: var(--editor-foreground-secondary);
    box-sizing: border-box;
    position: relative;
    flex-shrink: 0;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: rgba(0, 0, 0, 0.15);
      transition: background-color 0.3s;
    }

    &:hover:before,
    &:hover:after {
      background-color: rgba(0, 0, 0, 0.25);
    }

    &:first-child {
      cursor: auto;
    }
  }
}

.custom {
  &.splitpanes .splitpanes .splitpanes__splitter {
    z-index: 1;
  }

  &.splitpanes--vertical > .splitpanes__splitter, 
  .splitpanes--vertical > .splitpanes__splitter {
    width: 2px;
    cursor: col-resize;

    &:before,
    &:after {
      transform: translateY(-50%);
      width: 1px;
      height: 30px;
    }

    &:before {
      margin-left: -2px;
    }

    &:after {
      margin-left: 1px;
    }
  }

  &.splitpanes--horizontal > .splitpanes__splitter, 
  .splitpanes--horizontal > .splitpanes__splitter {
    height: 2px;
    cursor: row-resize;

    &:before,
    &:after {
      transform: translateX(-50%);
      width: 30px;
      height: 1px;
    }

    &:before {
      margin-top: -2px;
    }

    &:after {
      margin-top: 1px;
    }
  }
}